<!--reglas para trabajar con bootstrap, regillas-->
<!--se debe trabajar con div CONTAINER y div ROW-->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imself.jpeg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
        <span>
            <h1>ACERCA DE MÍ</h1>
            <p>Hola Soy Ruben Carabajal, estudié una tecnicatura en informática, me gusta la programación y mi objetivo es poder llegar a ser desarrollador de aplicaciones web. Hasta ahora tengo conocimientos en HTML, CSS, JAVASCRIPT, ANGULAR, BDD.</p>
        </span>
    </div>
</div>
