<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
             <a href="https://www.linkedin.com/in/ruben-carabajal-b19077115/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
             <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D" target="_blank"><img src="../../../assets/twitter.png" id="twitter"></a>
             <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
             <a href="https://github.com/Indio1983" target="_blank"><img src="../../../assets/github.png" id="github"></a>
             <a href="https://www.facebook.com/ruben.carabajal.9/" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a>
             <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
             <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
 </div>




