<div class="row">
    <h1>HARD & SOFT SKILLS:</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">

     <circle-progress
         [showUnits]="false"
         [percent]="80"
         [radius]="100"
         [imageSrc]="'../assets/html5.png'"
         [showImage]="true"
         [imageHeight]="90"
         [imageWidth]="90"
         [showUnits]="false"
         [titleColor]="'blue'"
         [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#1cb698'"
        [innerStrokeColor]="'#1e2326'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
        [showUnits]="false"
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="86"
        [imageWidth]="86"
        [showUnits]="false"
        [titleColor]="'blue'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#1cb698'"
        [innerStrokeColor]="'#1e2326'"
        [animation]="true"
        [animationDuration]="500"
       ></circle-progress>
   </div>

   <div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
        [showUnits]="false"
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../assets/javascript.svg'"
        [showImage]="true"
        [imageHeight]="78"
        [imageWidth]="78"
        [showUnits]="false"
        [titleColor]="'blue'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#1cb698'"
        [innerStrokeColor]="'#1e2326'"
        [animation]="true"
        [animationDuration]="500"
       ></circle-progress>
   </div>

   <div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
        [showUnits]="false"
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/win.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [titleColor]="'blue'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#1cb698'"
        [innerStrokeColor]="'#1e2326'"
        [animation]="true"
        [animationDuration]="500"
       ></circle-progress>
   </div>

   <div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
        [showUnits]="false"
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/office2.png'"
        [showImage]="true"
        [imageHeight]="170"
        [imageWidth]="190"
        [showUnits]="false"
        [titleColor]="'blue'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#1cb698'"
        [innerStrokeColor]="'#1e2326'"
        [animation]="true"
        [animationDuration]="500"
       ></circle-progress>
   </div>

   <div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
        [showUnits]="false"
        [percent]="60"
        [radius]="100"
        [imageSrc]="'../assets/c++.png'"
        [showImage]="true"
        [imageHeight]="140"
        [imageWidth]="170"
        [showUnits]="false"
        [titleColor]="'blue'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#1cb698'"
        [innerStrokeColor]="'#1e2326'"
        [animation]="true"
        [animationDuration]="500"
       ></circle-progress>
   </div>


</div>


