<div class="row">
    <h1>EDUCACIÓN:</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Técnico en informática</h1> - <h3>(1999 - 2002)</h3>
            </li>
              <p>
                Instalación, mantenimiento y conficuración de PC. Instalacion de redes, manejo de paquete office.
              </p>
        </ul>

        <ul>
            <li>
                <h1>Desarrollo Front End</h1> - <h3>(2021 -2022)</h3>
            </li>
              <p>
                Diseño de paginas web con html,css y javascript
              </p>
        </ul>

        <ul>
            <li>
                <h1>Curso de redes informáticas</h1> - <h3>(2021 - 2021)</h3>
            </li>
              <p>
                Instalación, configuración y mantenimiento de redes informática. 
              </p>
        </ul>

    </div>
</div>
