<div class="row">
    <h1>EXPERIENCIIA LABORAL:</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Front developer Autónomo</h1> - <h3>(2021 - 2022)</h3>
            </li>
              <p>
               Desarrollo de paginas web con diseño responsivo, aplicaciones web, bases de datos                
              </p>
        </ul>

        <ul>
            <li>
                <h1>Reparación y manenimiento de PC, Autónomo</h1> - <h3>(2021 - 2023)</h3>
            </li>
              <p>
                Reparación, instalación y manenimientode computadoras. Configuración e instalación de redes informáticas
              </p>
        </ul>

        <ul>
            <li>
                <h1>Desarrollo Java, Autónomo</h1> - <h3>(2021 - 2022)</h3>
            </li>
              <p>
                Diseño y desarrollo de proyecto con Java. Consiste en un aplicación para la gestión de una obra social.
                Cuanta con altas, bajas, modificaciones, conexion a base de datos.
              </p>
        </ul>

    </div>
</div>
